{{#if isItMorning}}
  <h1>Good morning {{name}}!</h1>
{{else}}
  <h1>Good afternoon {{name}}!</h1>
{{/if}}
<p>Welcome to the {{{bootcamp}}}!!</p>

<p>Our cities</p>
<ul>
  {{#each cities}}
    {{!-- {{this}} is the current element --}}
    {{!-- {{@index}} is the index of the current element --}}
    <li>{{@index}} {{this}} ({{@first}}, {{@last}})</li>
  {{else}}
    <li>Sorry, there are no cities</li>
  {{/each}}
</ul>

<hr>

The 3rd city is: {{cities.[2]}}